<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MotoPiter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MotoPiter.Properties.Settings>
            <setting name="loginNethouse" serializeAs="String">
                <value />
            </setting>
            <setting name="passNethouse" serializeAs="String">
                <value />
            </setting>
            <setting name="loginMotopiter" serializeAs="String">
                <value />
            </setting>
            <setting name="passMotopiter" serializeAs="String">
                <value />
            </setting>
        </MotoPiter.Properties.Settings>
    </userSettings>
</configuration>